
@font-face {
    font-family: "Courier New";
    src: url("/getfile?safari4=true&item=/images/9780132942799/assets/fonts/cour.ttf");
}
@font-face {
    font-family: "Courier New Bold";
    src: url("/getfile?safari4=true&item=/images/9780132942799/assets/fonts/courbd.ttf");
}
@font-face {
    font-family: "Courier New Italic";
    src: url("/getfile?safari4=true&item=/images/9780132942799/assets/fonts/couri.ttf");
}
@font-face {
    font-family: "Courier New Bold Italic";
    src: url("/getfile?safari4=true&item=/images/9780132942799/assets/fonts/courbi.ttf");
}
body #HtmlView {
    font-size: 11pt;
    margin-bottom: 4pt;
    margin-right: 15pt;
    margin-top: 4pt;
}
#HtmlView h1 {
    font-weight: bold;
    margin-bottom: 12pt;
    margin-top: 15pt;
    text-align: center;
}
#HtmlView h2 {
    font-weight: bold;
    margin-bottom: 25pt;
    margin-top: 7pt;
    text-align: left;
}
#HtmlView h3 {
    font-weight: bold;
    margin-bottom: 8pt;
    margin-top: 9pt;
    text-align: left;
}
#HtmlView h4 {
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 9pt;
    text-align: left;
}
#HtmlView h5 {
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 9pt;
    text-align: left;
}
#HtmlView h6 {
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 9pt;
    text-align: left;
}
#HtmlView .epub__cover {
    margin-bottom: 2pt;
    margin-top: 2pt;
    text-align: center;
}
#HtmlView .epub__author {
    font-weight: bold;
    margin-top: 40pt;
    text-align: center;
}
#HtmlView div.epub__image, #HtmlView img {
    max-height: 99%;
    max-width: 99%;
}
#HtmlView .epub__image {
    margin-bottom: 5pt;
    text-align: center;
}
#HtmlView .epub__toc-part {
    margin-bottom: 5pt;
    margin-left: 10pt;
    margin-top: 25pt;
    text-align: left;
}
#HtmlView .epub__toc-chapter {
    margin-bottom: 5pt;
    margin-left: 25pt;
    margin-top: 10pt;
    text-align: left;
}
#HtmlView .epub__toc-chapter1 {
    margin-bottom: 5pt;
    margin-left: 18pt;
    margin-top: 10pt;
    text-align: left;
}
#HtmlView .epub__toc-section {
    margin-bottom: 4pt;
    margin-left: 55pt;
    margin-top: 4pt;
    text-align: left;
}
#HtmlView .epub__indexmain {
    margin-bottom: 2pt;
    margin-top: 2pt;
    text-align: left;
}
#HtmlView .epub__indexmain1 {
    margin-bottom: 2pt;
    margin-top: 18pt;
    text-align: left;
}
#HtmlView .epub__indexsub {
    margin-bottom: 2pt;
    margin-left: 35pt;
    margin-top: 2pt;
    text-align: left;
    text-indent: -15pt;
}
#HtmlView .epub__copy {
    margin-bottom: 8pt;
    margin-top: 8pt;
    text-indent: 0.024pt;
}
#HtmlView .epub__indent {
    margin-bottom: 5pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: 18pt;
}
#HtmlView .epub__indenthangingB {
    margin-bottom: 4pt;
    margin-left: 40pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -7pt;
}
#HtmlView .epub__indenthangingBB {
    margin-bottom: 4pt;
    margin-left: 58pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -6.5pt;
}
#HtmlView .epub__indenthangingBBB {
    margin-bottom: 4pt;
    margin-left: 80pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -6pt;
}
#HtmlView .epub__indenthangingBP {
    margin-bottom: 4pt;
    margin-left: 40pt;
    margin-top: 4pt;
    text-align: left;
}
#HtmlView .epub__indenthangingBP1 {
    margin-bottom: 4pt;
    margin-left: 40pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: 15pt;
}
#HtmlView .epub__tab-caption {
    font-weight: bold;
    margin-bottom: 8pt;
    margin-top: 14pt;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
}
#HtmlView .epub__source {
    font-size: 1em;
    margin-bottom: 2pt;
    margin-top: 2pt;
    page-break-before: avoid;
    page-break-inside: avoid;
    text-align: center;
}
#HtmlView .epub__fig-caption {
    font-weight: bold;
    margin-bottom: 14pt;
    margin-top: 4pt;
    page-break-before: avoid;
    page-break-inside: avoid;
    text-align: center;
}
#HtmlView .epub__fig-caption2 {
    font-weight: bold;
    margin-bottom: 14pt;
    margin-top: 4pt;
    page-break-before: avoid;
    page-break-inside: avoid;
    text-align: left;
}
#HtmlView .epub__blockquote {
    margin-bottom: 2pt;
    margin-left: 0pt;
    margin-top: 7pt;
    text-align: left;
}
#HtmlView .epub__attribution {
    margin-bottom: 17pt;
    margin-right: 40pt;
    margin-top: 2pt;
    text-align: right;
}
#HtmlView .epub__attribution1 {
    margin-bottom: 17pt;
    margin-right: 15pt;
    margin-top: 2pt;
    text-align: right;
}
#HtmlView .epub__attri {
    margin-left: 50pt;
    margin-right: 50pt;
}
#HtmlView .epub__toc-preface {
    margin-bottom: 5pt;
    margin-left: 65pt;
    margin-top: 5pt;
    text-align: left;
}
#HtmlView .epub__toc-appendix {
    margin-bottom: 5pt;
    margin-left: 55pt;
    margin-top: 10pt;
    text-align: left;
}
#HtmlView .epub__toc-index {
    margin-bottom: 5pt;
    margin-left: 55pt;
    margin-top: 10pt;
    text-align: left;
}
#HtmlView .epub__bib {
    margin-bottom: 5pt;
    margin-left: 15pt;
    margin-top: 10pt;
    text-align: left;
}
#HtmlView .epub__footnote {
    font-size: 0.87em;
    margin-bottom: 4pt;
    margin-left: 20pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -11pt;
}
#HtmlView .epub__pre {
    font-family: "Courier New";
    font-size: 0.87em;
    margin-bottom: 5pt;
    margin-left: 13pt;
    margin-top: 5pt;
}
#HtmlView .epub__pre1 {
    font-family: "Courier New";
    font-size: 0.87em;
    margin-bottom: 5pt;
    margin-left: 25pt;
    margin-top: 5pt;
}
#HtmlView .epub__codelink {
    font-size: 0.87em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-top: 6pt;
    page-break-after: avoid;
}
#HtmlView .epub__image1 {
    page-break-before: always;
    text-align: center;
}
#HtmlView div.epub__image1, #HtmlView img {
    max-height: 99%;
    max-width: 99%;
}
#HtmlView code {
    font-size: 0.87em;
}
#HtmlView .epub__edition {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 15pt;
    margin-top: 15pt;
    text-align: center;
}
#HtmlView .epub__equation {
    text-align: center;
}
#HtmlView .epub__indenthangingN {
    margin-bottom: 4pt;
    margin-left: 50pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -12pt;
}
#HtmlView .epub__indenthangingNaa {
    margin-bottom: 4pt;
    margin-left: 48pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -11pt;
}
#HtmlView .epub__indenthangingNP1 {
    margin-bottom: 4pt;
    margin-left: 30pt;
    margin-top: 4pt;
    text-align: left;
}
#HtmlView .epub__indenthangingNP {
    margin-bottom: 4pt;
    margin-left: 30pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: 15pt;
}
#HtmlView .epub__indenthangingN1 {
    margin-bottom: 4pt;
    margin-left: 50pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -17.5pt;
}
#HtmlView .epub__indenthangingNB {
    margin-bottom: 4pt;
    margin-left: 75pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -7.5pt;
}
#HtmlView .epub__noindent {
    margin-bottom: 4pt;
    margin-top: 4pt;
    text-indent: 0.02pt;
}
#HtmlView .epub__publisher {
    margin-bottom: 2pt;
    margin-top: 130pt;
    text-align: center;
}
#HtmlView .epub__publishertext {
    margin-bottom: 2pt;
    margin-top: 6pt;
    text-align: center;
}
#HtmlView .epub__sidebar {
    font-size: 1em;
    margin: 6pt 24pt 12pt;
}
#HtmlView .epub__sb-noindent {
    margin: 4pt 15pt;
    text-indent: 0.02pt;
}
#HtmlView .epub__sb-indent {
    margin: 4pt 15pt 5pt;
    text-indent: 15pt;
}
#HtmlView .epub__title {
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 4pt;
    margin-left: 7pt;
    margin-top: 4pt;
    page-break-after: avoid;
    page-break-inside: avoid;
}
#HtmlView .epub__question {
    margin-bottom: 4pt;
    margin-left: 30pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -12pt;
}
#HtmlView .epub__questiona {
    margin-bottom: 4pt;
    margin-left: 70pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -11.5pt;
}
#HtmlView .epub__questionP {
    margin-bottom: 4pt;
    margin-left: 30pt;
    margin-top: 4pt;
    text-align: left;
}
#HtmlView .epub__step {
    margin-bottom: 4pt;
    margin-left: 65pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -38pt;
}
#HtmlView .epub__division {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 4pt;
    margin-left: 10pt;
    margin-top: 4pt;
}
#HtmlView .epub__question1 {
    margin-bottom: 4pt;
    margin-left: 29pt;
    margin-top: 4pt;
    text-align: left;
    text-indent: -18pt;
}
#HtmlView .epub__copy1 {
    margin-bottom: 8pt;
    margin-left: 24pt;
    margin-top: 8pt;
    text-align: left;
    text-indent: 0.024pt;
}
#HtmlView .epub__copy2 {
    font-size: 140%;
    margin-bottom: 8pt;
    margin-top: 8pt;
    text-align: left;
    text-indent: 0.024pt;
}
#HtmlView .epub__copy3 {
    font-size: 130%;
    margin-bottom: 8pt;
    margin-top: 8pt;
    text-align: left;
    text-indent: 0.024pt;
}
#HtmlView .epub__imagefir {
    text-align: center;
}

